{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Реєстрація {% endblock %}

{% block content %}
    <div class="container my-5">
      <h2>Реєстрація</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Зареєструватись</button>
      </form>
    </div>
{% endblock %}