{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'factory/css/about.css' %}">
{% endblock %}

{% block title %}
    Про фабрику
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col text-center">
        <img src="{% static 'factory/img/Logo_Full_Svityaz.png' %}" alt="Logo" class="">
    </div>
    <div class="col">
        <p><b>Фабрика Світязь</b> − кондитерська компанія з більш як 20-ти річним досвідом, яка активно співпрацює з українськими та закордонними партнерами.</p>
        <p>Колись ми запускали виробництво з двома сортами продукції, а тепер на нашому рахунку більше 50-ти розроблених
        оригінальних рецептур, впроваджених у технологічний процес виробництва. Ми постійно вдосконалюємо наш асортимент і прагнемо максимально задовольняти високі вимоги споживачів.</p>
        <p>Стабільно висока якість продукції є фундаментальною ознакою компанії. Саме тому команда спеціалістів вищої
        кваліфікації перманентно залучена у процеси виробництва, рецептурних експериментів та лабораторних досліджень.
        Всі рецептури без винятку відповідають нормам ДСТУ, що є гарантією якості виробленого печива. Окрім цього,
        технологічний відділ ретельно перевіряє всю сировину для рецептур, тому всі інгредієнти проходять чотири ступені
            контролю показників якості та безпеки.</p>
        <p>Співробітники фабрики пишаються результатом своєї роботи, про що свідчать теплі відгуки від споживачів і партнерів.</p>
    </div>
</div>
</div>

{% endblock %}
