{% extends 'base.html' %}

{% block title %} Продукція {% endblock %}

{% block content %}
    <div class="container">
        <h1>Продукція</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for cookie in cookies %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src=" {{ cookie.image.url }}" alt="{{ cookie.name }}" class="card-img-top">
                         <div class="card-body">
                         <h5 class="card-text"> {{ cookie.name }} </h5>
                         </div>
                    </div>
                </div>
            {% endfor %}
       </div>
    </div>
    <div class="container my-2">
            <a class="btn btn-primary btn-block" href="/cookies/add/" role="button">Додати нове</a>
    </div>
{% endblock %}